.address-box{
    transition: all 200ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    box-sizing: border-box;
    transform: translateY(0);
    will-change: height;

    &__active {
        // border-color:  #000dff;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
        cursor: auto;
        .unselect {
            display: block !important;
        }

        .remove {
            display: none !important;
        }
    }
    
    &.hidden-animation {
        // opacity: 0;
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        border-width: 0;
        overflow: hidden;

        div {
        }
    }
    
    .unselect {
        color:  #000dff;
        font-weight: bold;
        cursor: pointer;
        display: none;
    }

    .remove {
        height: 20px;
        width: 20px;
        cursor: pointer;

        &.disabled {
            pointer-events: none;
            svg {
                height: 100%;
                fill: rgb(207, 207, 207);
            }
        }

        &:hover {
            svg {
                height: 100%;
                fill: red;
            }
        }

        svg {
            height: 100%;
            width: 100%;
            fill: #000DFF;
        }
    }

    .remove-spiner {
        height: 20px;
        display: none;
        img {
            height: 100%;
        }
    }

    &.hidden{
        // display: none;
    }

    &.deleting {
        pointer-events: none;
        background: rgb(230, 230, 230);
        
        .remove-spiner {
            display: block;
        }

        .remove {
            display: none;
        }
        
    }
}