.boxes-list {
    &.hidden {
        display: none;
    }
    &__item {
        margin: 5px 0;
        padding: 15px 20px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        margin-bottom: 10px;
        transition: all 200ms ease-in-out;

        &:hover {
            box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
        }

        &_active {
            border-color: #000dff;
            box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
        }
    }
}
