.specialist-box {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: 15px;
    
    box-sizing: border-box;
    font: inherit;
    &__avatar {
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: contain;
        img {
            height: 100%;
        }
    }

    &__name{
        font-weight: normal;
        //height: 100%;
        //display: flex;
        align-items: center;

    }
}

.specialist-box__name__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.specialists-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    .lds-roller{
        margin-top: 50px;
    }
}

.specialist-box__rating {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;

    .star {
        height: 20px;
        width: 20px;

        img {
            height: 100%;
            width: 100%;
        }
    }
}