.time-picker {
    margin-bottom: 40px;
    &__container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        user-select: none;
    }
    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__number {
        font-size: 65px;
        color: black;
    }
    &__colon {
        font-size: 65px;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        margin: 0 10px;
        color: black;
    }

    &__controll {
        height: 25px;
        width: 25px;
        cursor: pointer;

        svg {
            fill: #d4caca;
            height: 100%;
            width: 100%;
        }
    }

    &__text {
        margin-bottom: 10px;
    }

    &__warning {
        margin-top: 20px;
        text-align: center;
    }

    .disabled {
        opacity: 0;
        pointer-events: none;
    }
}
