<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-header {
    height: 100px;
    display: grid;
    grid-template-columns: 70px auto 70px;
    column-gap: 20px;
    font-size: 20px;
}

.menu-header__title {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-header__back-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header__back-btn.hidden {
    opacity: 0;
    pointer-events: none;
}

.menu-header__back-btn svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.menu-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;    
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px 40px;
    height: 245px;
    overflow: auto;
}


.menu-item {
    height: 50px;
    background: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    justify-content: space-between;
}

.menu-item.selected {
    background: blue;
}

.menu-item.disabled {
    pointer-events: none;
    background: #9fa0a1;
}

body.disabled {
    pointer-events: none;
}

.menu-item_disabled {
    pointer-events: none;
    background: #979696;
}

@media (max-width: 500px) {
    .menu-body {
        grid-template-columns: 1fr;
        height: auto;
    }
=======
body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir LT Std 55 Roman';
}

.menu-header {
    height: 100px;
    display: grid;
    grid-template-columns: 70px auto 70px;
    column-gap: 20px;
    font-size: 20px;
}

.menu-header__title {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-header__back-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-header__back-btn.hidden {
    opacity: 0;
    pointer-events: none;
}

.menu-header__back-btn svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.menu-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50px;    
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px 40px;
    height: 245px;
    overflow: auto;
}


.menu-item {
    height: 50px;
    background: black;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    justify-content: space-between;
}

.menu-item.selected {
    background: blue;
}

.menu-item.disabled {
    pointer-events: none;
    background: #9fa0a1;
}

body.disabled {
    pointer-events: none;
}

.menu-item_disabled {
    pointer-events: none;
    background: #979696;
}

@media (max-width: 500px) {
    .menu-body {
        grid-template-columns: 1fr;
        height: auto;
    }
>>>>>>> d2ffc1949e4a77bc5edaf26a36371f62605b3b3c
}